.body{
    background-color: aquamarine;
    color: rgb(13, 9, 127);
    text-align: center;
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-decoration: double;
}
h1{
font-size: larger;
font-family: fantasy;

}

p1{
    font: 1em sans-serif;

    
}